/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin        : 0;
    padding       : 0;
    border        : 0;
    font-size     : 100%;
    font          : inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing : 0;
}


/*----------以下為自訂css----------*/

a {
    text-decoration: none;
}

img {
    display: block;
}

body {
    font-family: 'MicrosoftJhengHei', sans-serif;
}

.font-eng {
    font-family: 'Questrial', sans-serif;
}


/*----------header----------*/

header {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}

.topic {
    font-size: 20px;
}

.top5-games {
    font-size: 16px;
    display  : flex;
}

.top5-games li {
    padding: 15px 10px;
    margin-left: 15px;
    cursor     : pointer;
}

.top5-games li:hover {
    background-color: lightblue;
    transition      : all 0.3s ease-out;
}

/*----------container----------*/

.container {
    min-height     : 500px;
    background     : gray url(/bg.jpeg) no-repeat;
    background-size: cover;
    padding-top    : 20px;
    padding-bottom : 20px;
}

.container h1,
h2 {
    color      : white;
    font-weight: bold;
    text-align : center;
    padding    : 10px;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size    : 16px;
    margin-bottom: 10px;
}

/*----------streams----------*/
.streams {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
}

.streams>i {
    margin: 10px;
    width : 350px;
    height: 260px;
}

.streams_block {
    margin: 10px;
    cursor: pointer;
    width : 350px;
    height: 260px;
}

.streams_block:hover {
    transform : scale(1.1);
    filter    : brightness(1.2);
    transition: all 0.3s ease-out;
}

.streams_preview {
    width            : 350px;
    height           : 200px;
    background-image : url(/bg.jpeg);
    background-size  : cover;
    background-repeat: no-repeat;
}

.streams_info {
    width           : 350px;
    height          : 60px;
    background-color: #333;
    display         : flex;
    align-items     : center;
}

.streams_img {
    width           : 50px;
    height          : 50px;
    border-radius   : 50%;
    background-image: url(/bg.jpeg);
    background-size : cover;
    margin-left     : 5px;
    margin-right    : 8px;
}

.streams_text {
    color      : white;
    line-height: 25px;
}

.streams_title {
    font-size    : 18px;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
    width        : 250px;
}

.streams_streamer {
    font-size: 12px;
}